@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@300;400&display=swap");

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

p {
  color: #001623;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #001623;
}

/* SOLUTIONS */
.solutions {
  padding: 0 9rem;
  margin-top: 60px;
}

.sol {
  padding: 0 1.5rem;
}

.images {
  width: 100%;
}

/* .shadow{
  filter: drop-shadow(0 0 0.75rem rgb(44, 42, 43));

} */

.dim {
  opacity: 80%;
  filter: brightness(60%);
}

.overlay {
  position: relative;
  transform: translate(0%, -280%);
  display: block;
  text-align: center;
}

.overlayTwo {
  position: relative;
  transform: translate(0%, -200%);
  display: block;
  text-align: center;
}

.solIcon {
  color: rgb(255, 255, 255);
  font-size: 1.4em;
}

.solIconH {
  color: rgb(255, 255, 255);
  font-size: 1em !important;
}

/* ABOUT US */
.aboutUs {
  padding-right: 3rem;
}

.aboutUs p {
  text-align: justify;
  font-size: 0.85em;
}

.aboutImg {
  width: 100%;
  border-radius: 0 25px 0 0;
}

/*FORM*/
.padTop {
  padding-top: 2rem;
}

.input {
  border-radius: 0px;
}

/* NAVBAR */

.logo-navbar {
  height: 100%;
  margin-left: 30px;
}

header {
  background: #e7f5ea;
  height: 12vh;
  display: flex;
}

.menu {
  width: 100%;
  margin-top: 1%;
  margin-right: 30px;
}

.menu .menu-item {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 1.2rem;
}

.menu .menu-item li {
  margin: 20px;
  list-style: none;
}

.menu .menu-item .nav-hash {
  color: #065143;
  text-decoration: none;
}

.menu .menu-item .nav-hash:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.nav-link {
  color: #137765;
}

.nav-link:focus,
.nav-link:hover {
  color: #065143;
}

/* CAROUSEL */

.carousel {
  height: 80vh;
  position: relative;
  cursor: grab;
}

.carousel.one {
  background: url(./resources/carousel-1.png);
}

.carousel.two {
  background: url(./resources/carousel-2.png);
}

.carousel.three {
  background: url(./resources/carousel-3.png);
}

.carousel .carousel-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  top: 30%;
  left: 10%;
}

.carousel h3 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 25px;
  text-shadow: rgb(88, 93, 116) 1px 0 10px;
}

.carousel p {
  color: #fff;
  font-size: 1.3em;
  width: 80%;
  text-shadow: rgb(88, 93, 116) 1px 0 10px;
}

/* Cards */
.cards {
  background: url("resources/cards-bc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.cards .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #88998b90;
  text-align: center;
  padding: 30px;
  margin: 10px;
  height: 100%;
  color: #fff;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  height: 100%;
  padding: 2rem !important;
  margin: 1rem;
}

.cards .content:hover {
  background: #54685885;
  transition: 0.3s ease;
}

.cards .content img {
  width: 30%;
  margin-bottom: 20px;
}

.cards .content h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
  text-shadow: rgb(88, 93, 116) 1px 0 10px;
}

.cards .content .text {
  font-size: 1rem;
  padding: 2px;
  text-shadow: rgb(88, 93, 116) 1px 0 10px;
}

.cards p {
  color: #fff;
}

.icon {
  font-size: 4em;
  margin-bottom: 1rem;
  text-shadow: rgb(88, 93, 116) 1px 0 10px;
}

/* FOOTER */

footer {
  background: #e7f5ea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

footer img {
  width: 25vh;
}

footer p {
  font-size: 0.6em;
}

.big {
  display: initial;
}

.small {
  display: none;
}

@media screen and (min-width: 120rem) {
  /* EXPLORE SOLUTIONS */

  .solutions {
    padding: 0;
    margin: 100px auto;
  }

  .solutions h2 {
    font-size: 3em;
    margin-bottom: 80px;
  }

  .overlay .solIcon {
    font-size: 2em;
  }

  .overlayTwo .solIcon {
    font-size: 2em;
  }

  .overlayTwo h5 {
    font-size: 1.5em !important;
    margin-top: 10px;
  }

  .overlay h5 {
    font-size: 1.5em !important;
    margin-top: 10px;
  }

  /* ABOUT US */

  .aboutUs {
    margin-bottom: 150px;
  }

  .aboutUs .about-content {
    padding-left: 50px;
    margin-left: 20px;
  }

  .aboutUs .about-content h2 {
    font-size: 3em;
    margin-bottom: 30px;
  }

  .aboutUs .about-content p {
    font-size: 1.5em;
  }

  /* CARDS */

  .cards .content .icon {
    font-size: 7em;
  }

  .cards .content h3 {
    font-size: 1.8rem;
    margin: 30px 0;
  }

  .cards .content .text {
    font-size: 1.3rem;
    font-weight: lighter;
  }

  /* CONTACTS  */
  .padTop {
    margin: 100px 0;
  }

  .padTop h2 {
    font-size: 3em;
  }

  label {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #065143;
  }

  .button-submit {
    background: #065143;
    color: #fff;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .button-submit:hover {
    opacity: 0.8;
    color: #fff;
  }
}

@media screen and (max-width: 64rem) {
  header {
    height: 7vh;
  }

  .logo-navbar {
    margin-left: 0;
  }

  .menu {
    margin-right: 0;
  }

  .menu .menu-item {
    font-size: 1em;
  }

  /* EXPLORE SOLUTIONS */

  .solutions {
    padding: 0;
  }

  .solutions h2 {
    margin-bottom: 50px;
  }

  /* ABOUT US */

  .aboutUs {
    margin: 0 2rem;
  }

  .aboutImg {
    margin-top: 70px;
  }

  .aboutUs h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .aboutUs p {
    line-height: 25px;
  }

  /* CARDS */
  .cards {
    height: 100%;
  }

  .cards .content {
    height: 90%;
    padding: 2rem !important;
  }

  .col-4 {
    width: 95%;
  }

  .block {
    display: block;
  }

  /* CONTACT */
  .big {
    padding-right: 2rem;
  }

  .padTop {
    margin: 100px 0;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 48rem) {
  /* NAVBAR */
  header {
    height: 15vh;
  }

  .logo-navbar {
    margin-left: 0;
  }

  .menu {
    margin-right: 0;
  }

  .menu .menu-item {
    font-size: 1em;
  }

  /* EXPLORE SOLUTIONS */

  .solutions {
    padding: 0;
  }

  .solutions h2 {
    margin-bottom: 50px;
  }

  /* ABOUT US */

  .aboutUs {
    margin: 50px 0;
  }

  .aboutImg {
    margin-top: 100px;
  }

  .aboutUs h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .aboutUs p {
    line-height: 25px;
  }

  /* CARDS */

  .cards .carta {
    width: 100%;
  }

  .padTop {
    padding: 0.5rem !important;
  }

  /* ABOUT US */
  .big {
    display: none;
  }

  .small {
    display: initial;
    padding-right: 2rem;
  }

  .menu {
    font-size: 1.4em;
  }

  .nav-hash {
    color: #065143;
    text-decoration: none;
  }

  .aboutImgTwo {
    width: 100%;
  }

  .padTop {
    padding: 0rem !important;
  }

  .nav-link {
    padding: 0.8rem 0;
    float: right !important;
  }

  .disappear {
    width: 0% !important;
    flex: 0;
  }

  .aboutT {
    padding-top: 1rem;
  }

  /*CAROUSEL*/
  .carousel h3 {
    font-size: 25px;
  }

  .carousel p {
    font-size: 1em;
  }

  /* Cards */
  .cards {
    height: 100%;
  }

  .dim {
    border-radius: 5px;
  }

  .cards .content {
    height: 95%;
    padding-bottom: 1rem;
  }

  .cards .carta {
    width: 100%;
    margin-bottom: 1rem;
  }

  /*SOLUTIONS*/
  .solutions {
    padding: 0 0;
  }

  .overlayTwo {
    transform: translate(0, -120%);
  }

  .overlay {
    transform: translate(0, -190%);
  }

  .solIconH {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 26.563rem) {
  /* ABOUT US */
  .big {
    display: none;
  }

  .small {
    display: initial;
  }

  .menu {
    font-size: 1.4em;
  }

  .nav-hash {
    color: #065143;
    text-decoration: none;
  }

  .aboutImgTwo {
    width: 100%;
  }

  .nav-link {
    padding: 2rem 0;
    float: right !important;
  }

  .disappear {
    width: 0% !important;
    flex: 0;
  }

  .aboutT {
    padding-top: 1rem;
  }

  /* /CAROUSEL/ */
  .carousel h3 {
    font-size: 25px;
  }

  .carousel p {
    font-size: 1em;
  }

  /* Cards */
  .cards {
    height: 100%;
  }

  .dim {
    border-radius: 5px;
  }

  .cards .content {
    height: 43vh;
  }

  .cards .carta {
    width: auto;
  }

  /* /SOLUTIONS/ */
  .solutions {
    padding: 0 0;
  }

  .overlayTwo {
    transform: translate(0, -135%);
  }

  .overlay {
    transform: translate(0, -200%);
  }

  .solIconH {
    font-size: 0.8rem !important;
  }
}
