@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');
/*font-family: 'Roboto', sans-serif;*/

h2{
  font-size: 1.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* SOLUTIONS */
.solutions{
  padding: 0 9rem;
}

.sol{
  padding: 0 1.5rem;
}

.images{
  width: 100%;
}

.overlay{
  position: relative;
  transform: translate(0%, -280%);
  display: block;
  text-align: center;
}

.overlayTwo{
  position: relative;
  transform: translate(0%, -200%);
  display: block;
  text-align: center;
}

.solIcon{
  color: brown;
  font-size: 1.4em;
}

.solIconH{
  color: brown;
  font-size: 1em!important;
}